body{
    height: 100vh;
    background-color: rgb(0, 0, 0);
    font-family: poppins, sans-serif;
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 24px;
    color: white;
    padding: 40px;
}

.person{
    width: 64px;
    height: 64px;
    cursor: pointer;
}

.lupa{
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.spans{
    display: flex;
    gap : 46px;
    font-size: 32px;
    cursor: pointer;
}

main{
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    padding: 12px 48px;
    color: white;
    gap: 48px; 
    height: 80%;
}

h1{
    font-family: proza libre, sans-serif;
    text-align: center;
    justify-content: start;
    font-size: 68px;
    margin: 0;
}

h2{
    font-size: 32px;
    margin: 0;
    color: #b294d7e3;
}

h3{
    display: inline-flex;
    gap: 28px; 
    align-items: center;
    align-self: center;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.505);
}

.subtitle-row{
    display: flex;
    gap: 32px;     
    align-items: center;
    justify-content: center;
    padding: 20px;
    align-self: center;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 24px; 
}

p{
    max-width: 850px;
    width: 100%;
    align-items: flex-end;
    text-align: end;
    color: white;
    font-size: 28px;
    line-height: 1.5;
    padding-top: 70px; 
}

.assistir{
    display: flex;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
}

.ingresso{
    display: flex;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
}

.botao{
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    width: 100%; 
    padding-top: 48px;
    gap: 12px; 
    box-sizing: border-box;
    background-color: transparent;
}

.amei{
    cursor: pointer;
    display: flex;
    align-items: center;
    align-self: flex-end;
    padding-top: 0;
    
}
.coracao{
    width: 64px;
    height: 64px;
    cursor: pointer;
}

.nove{
    font-size: 64px;
}

.ver{  
    font-size: 20px;
    align-self: flex-end; 
}

footer{
    height: 100px;
}

footer{
    height: 100px;
    display: flex;           
    justify-content: center;  
    align-items: center;     
    gap: 12px;               
}

.linha1, .linha2, .linha3{
    width: 10%;
    height: 4px;
    background-color: #b1b1b1;
    display: inline-block; 
    margin: 0 10px;         
    vertical-align: middle;
}

.linha2{
    background-color: #ffffffe3;
    width: 15%;
}

.fundo{
    position: fixed;
    inset: 0;
    width: 100%;
    height: auto;
    z-index: -1;
}


/* Estilos para Tablets */
@media (max-width: 768px) {
    body{
        height: 100vh;
    }

    main{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 12px 24px;
        color: white;
        gap: 24px; 
        height: 80%;
    }

    h1{
        display: flex;
        font-family: proza libre, sans-serif;
        text-align: end;
        justify-content: start;
        font-size: 40px;
        margin: 0;
    }

    h2{
        font-size: 24px;
    }

    h3{
        font-size: 16px;
        gap: 16px;
    }

    p{
        max-width: 100%;
        font-size: 18px;
        padding-top: 40px; 
    }

    .person{
        width: 32px;
        height: 32px;
        cursor: pointer;
    }

    .lupa{
        width: 24px;
        height: 24px;
        cursor: pointer;
    }

    .spans{
        display: flex;
        gap : 24px;
        font-size: 24px;
        cursor: pointer;
    }

    .botao{
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        padding-top: 40px;
        gap: 12px;
        background-color: transparent; 
    }

    .amei{
        align-self: flex-end;
        padding-top: 0;
    }

    .ver{
        align-self: flex-end;
        padding-top: 10px;
    }

    .fundo{
        filter: brightness(0.8) blur(9px);
        -webkit-filter: brightness(0.8) blur(2px);
        transition: filter 0.25s ease;
    }
}